
**HIDING CELLS**

You right-click on the area on the left of the cell (below the "Play" button) and choose "Add a form"

You can enter a title for your cell after the #@title keyword (first line in your cell code)

Right-click again in the same place and choose "Form > Hide code"

**CHANGING CELL TYPES AND KEYBOARD SHORTCUTS**

Control m m will convert a code cell to a text cell. Control m y will convert a text cell to a code cell.

The full list of keyboard shortcuts is available under 'Keyboard shortcuts' in the Tools menu.

**LINKING TO OTHER SECTIONS IN NOTEBOOK**

## **Skip to:**

[Medicaid Drug Utilization (SQLite)](#medicaid_rx)

### Import Helper Libraries

In [1]:
import numpy as np
import pandas as pd
from copy import deepcopy
import sys
import matplotlib.pyplot as plt
import seaborn as sns

<a name="medicaid_rx"></a>
##**Medicaid Drug Utilization**
[Back to Beginning](#Beginning)  

https://download.medicaid.gov/data/DrugUtilization2021_revisedsep2022.csv  
https://download.medicaid.gov/data/nadac-national-average-drug-acquisition-cost-09-07-2022.csv  
https://download.medicaid.gov/data/DrugUtilization2022.csv  
https://download.medicaid.gov/data/state-drug-utilization-data-2020.csv  
https://download.medicaid.gov/data/state-drug-utilization-data-2019.csv  
https://www.medicaid.gov/medicaid/prescription-drugs/state-drug-utilization-data/state-drug-utilization-data-faq/index.html  
https://nida.nih.gov/sites/default/files/overdose_data_1999-2020-5.16.22.xlsx

Read in drug utilization data from Medicaid website and inspect first few rows.

In [18]:
df_2020 = pd.read_csv('https://download.medicaid.gov/data/state-drug-utilization-data-2020.csv')

In [19]:
df_2020.head()

,Utilization Type,State,NDC,Labeler Code,Product Code,Package Size,Year,Quarter,Supression Used,Product Name,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed
0,FFSU,AK,74433907,74,4339,7.0,2020,2,True,HUMIRA PEN,NaN,NaN,NaN,NaN,NaN
1,FFSU,AK,93504501,93,5045,1.0,2020,3,True,DEXMETHYLP,NaN,NaN,NaN,NaN,NaN
2,FFSU,AK,143988601,143,9886,1.0,2020,3,True,AMOXICILLI,NaN,NaN,NaN,NaN,NaN
3,FFSU,AK,536106210,536,1062,10.0,2020,1,True,STOOL SOFT,NaN,NaN,NaN,NaN,NaN
4,FFSU,AK,23155010305,23155,103,5.0,2020,4,True,METFORMIN,NaN,NaN,NaN,NaN,NaN

In [33]:
df_2020.columns

Index(['Utilization Type', 'State', 'NDC', 'Labeler Code', 'Product Code',
       'Package Size', 'Year', 'Quarter', 'Supression Used', 'Product Name',
       'Units Reimbursed', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed'],
      dtype='object')

In [34]:
# Replace spaces with underscores in column names
df_2020.columns = df_2020.columns.str.replace(' ','_')
df_2020.columns

Index(['Utilization_Type', 'State', 'NDC', 'Labeler_Code', 'Product_Code',
       'Package_Size', 'Year', 'Quarter', 'Supression_Used', 'Product_Name',
       'Units_Reimbursed', 'Number_of_Prescriptions',
       'Total_Amount_Reimbursed', 'Medicaid_Amount_Reimbursed',
       'Non_Medicaid_Amount_Reimbursed'],
      dtype='object')

In [35]:
for column in df_2020.columns:
    num_NaN = df_2020[column].isna().sum()
    print(f"Number of NaN in {column}: {num_NaN}")

Number of NaN in Utilization_Type: 0
Number of NaN in State: 0
Number of NaN in NDC: 0
Number of NaN in Labeler_Code: 0
Number of NaN in Product_Code: 0
Number of NaN in Package_Size: 0
Number of NaN in Year: 0
Number of NaN in Quarter: 0
Number of NaN in Supression_Used: 0
Number of NaN in Product_Name: 0
Number of NaN in Units_Reimbursed: 0
Number of NaN in Number_of_Prescriptions: 0
Number of NaN in Total_Amount_Reimbursed: 0
Number of NaN in Medicaid_Amount_Reimbursed: 0
Number of NaN in Non_Medicaid_Amount_Reimbursed: 0

Over half rows are missing reimbursement data, drop them.

In [22]:
len(df_2020)

4880138

In [23]:
df_2020.dropna(axis = 'index', inplace = True)

In [24]:
len(df_2020)

2282565

In [25]:
for column in df_2020.columns:
    num_NaN = df_2020[column].isna().sum()
    print(f"Number of NaN in {column}: {num_NaN}")

Number of NaN in Utilization Type: 0
Number of NaN in State: 0
Number of NaN in NDC: 0
Number of NaN in Labeler Code: 0
Number of NaN in Product Code: 0
Number of NaN in Package Size: 0
Number of NaN in Year: 0
Number of NaN in Quarter: 0
Number of NaN in Supression Used: 0
Number of NaN in Product Name: 0
Number of NaN in Units Reimbursed: 0
Number of NaN in Number of Prescriptions: 0
Number of NaN in Total Amount Reimbursed: 0
Number of NaN in Medicaid Amount Reimbursed: 0
Number of NaN in Non Medicaid Amount Reimbursed: 0

Check if state abbreviations make sense

In [27]:
sorted(list(df_2020['State'].value_counts().index))

['AK',
 'AL',
 'AR',
 'AZ',
 'CA',
 'CO',
 'CT',
 'DC',
 'DE',
 'FL',
 'GA',
 'HI',
 'IA',
 'ID',
 'IL',
 'IN',
 'KS',
 'KY',
 'LA',
 'MA',
 'MD',
 'ME',
 'MI',
 'MN',
 'MO',
 'MS',
 'MT',
 'NC',
 'ND',
 'NE',
 'NH',
 'NJ',
 'NM',
 'NV',
 'NY',
 'OH',
 'OK',
 'OR',
 'PA',
 'RI',
 'SC',
 'SD',
 'TN',
 'TX',
 'UT',
 'VA',
 'VT',
 'WA',
 'WI',
 'WV',
 'WY',
 'XX']

https://www.cms.gov/files/document/medicaid-state-drug-utilization-data-field-descriptions.pdf says: Two-character post office abbreviation for State. Note: For any data where NDCs are aggregated (e.g. National Totals) the state code is “XX” to represent multiple states.  
DROP THESE ROWS

In [28]:
df_2020 = df_2020[df_2020['State'] != 'XX'].copy()
sorted(list(df_2020['State'].value_counts().index))

['AK',
 'AL',
 'AR',
 'AZ',
 'CA',
 'CO',
 'CT',
 'DC',
 'DE',
 'FL',
 'GA',
 'HI',
 'IA',
 'ID',
 'IL',
 'IN',
 'KS',
 'KY',
 'LA',
 'MA',
 'MD',
 'ME',
 'MI',
 'MN',
 'MO',
 'MS',
 'MT',
 'NC',
 'ND',
 'NE',
 'NH',
 'NJ',
 'NM',
 'NV',
 'NY',
 'OH',
 'OK',
 'OR',
 'PA',
 'RI',
 'SC',
 'SD',
 'TN',
 'TX',
 'UT',
 'VA',
 'VT',
 'WA',
 'WI',
 'WV',
 'WY']

In [30]:
# Import state enrollment data, 12/1/2020
# Estimate cost per enrollee
URL = 'https://data.medicaid.gov/api/1/datastore/query/6165f45b-ca93-5bb5-9d06-db29c692a360/0/download?conditions%5B0%5D%5Bresource%5D=t&conditions%5B0%5D%5Bproperty%5D=preliminary_updated&conditions%5B0%5D%5Bvalue%5D=U&conditions%5B0%5D%5Boperator%5D=%3D&conditions%5B1%5D%5Bresource%5D=t&conditions%5B1%5D%5Bproperty%5D=report_date&conditions%5B1%5D%5Bvalue%5D=12%2F01%2F2020&conditions%5B1%5D%5Boperator%5D=%3D&format=csv'
df_2020_enroll = pd.read_csv(URL)

In [31]:
df_2020_enroll.head()
for column in df_2020_enroll.columns:
    num_NaN = df_2020_enroll[column].isna().sum()
    print(f"Number of NaN in {column}: {num_NaN}")

Number of NaN in state_abbreviation: 0
Number of NaN in state_name: 0
Number of NaN in report_date: 0
Number of NaN in state_expanded_medicaid: 0
Number of NaN in preliminary_updated: 0
Number of NaN in final_report: 0
Number of NaN in new_applications_submitted_to_medicaid_and_chip_agencies: 2
Number of NaN in new_applications_submitted_to_medicaid_and_chip_agencies__f_85d7: 33
Number of NaN in applications_for_financial_assistance_submitted_to_the_stat_104d: 39
Number of NaN in applications_for_financial_assistance_submitted_to_the_stat_c640: 49
Number of NaN in total_applications_for_financial_assistance_submitted_at_st_d6fa: 1
Number of NaN in total_applications_for_financial_assistance_submitted_at_st_9919: 31
Number of NaN in individuals_determined_eligible_for_medicaid_at_application: 8
Number of NaN in individuals_determined_eligible_for_medicaid_at_application_4f96: 32
Number of NaN in individuals_determined_eligible_for_chip_at_application: 6
Number of NaN in individuals_determined_eligible_for_chip_at_application__fo_e28a: 44
Number of NaN in total_medicaid_and_chip_determinations: 5
Number of NaN in total_medicaid_and_chip_determinations__footnotes: 38
Number of NaN in medicaid_and_chip_child_enrollment: 0
Number of NaN in medicaid_and_chip_child_enrollment__footnotes: 48
Number of NaN in total_medicaid_and_chip_enrollment: 0
Number of NaN in total_medicaid_and_chip_enrollment__footnotes: 47
Number of NaN in total_medicaid_enrollment: 0
Number of NaN in total_medicaid_enrollment__footnotes: 47
Number of NaN in total_chip_enrollment: 0
Number of NaN in total_chip_enrollment__footnotes: 50

In [37]:
# Check total reimbursement (before rebates) against outside source
# https://www.kff.org/medicaid/issue-brief/medicaid-outpatient-prescription-drug-trends-during-the-covid-19-pandemic/
f"{df_2020['Total_Amount_Reimbursed'].sum():,.0f}"

'69,814,017,785'

Drop columns with missing values. OK since we are looking for enrollment counts, not all fields.

In [38]:
df_2020_enroll.dropna(axis = 'columns', inplace = True)
for column in df_2020_enroll.columns:
    num_NaN = df_2020_enroll[column].isna().sum()
    print(f"Number of NaN in {column}: {num_NaN}")

Number of NaN in state_abbreviation: 0
Number of NaN in state_name: 0
Number of NaN in report_date: 0
Number of NaN in state_expanded_medicaid: 0
Number of NaN in preliminary_updated: 0
Number of NaN in final_report: 0
Number of NaN in medicaid_and_chip_child_enrollment: 0
Number of NaN in total_medicaid_and_chip_enrollment: 0
Number of NaN in total_medicaid_enrollment: 0
Number of NaN in total_chip_enrollment: 0

## **SQL on data using SQLite**

In [39]:
# Based on https://mungingdata.com/sqlite/create-database-load-csv-python/
# https://www.tutorialspoint.com/python_data_access/python_sqlite_drop_table.htm

In [40]:
# Helper function from https://stackoverflow.com/questions/64067424/how-to-convert-df-info-into-data-frame-df-info
def infoOut(data,details=False):
    dfInfo = data.columns.to_frame(name='Column')
    dfInfo['Non-Null Count'] = data.notna().sum()
    dfInfo['Dtype'] = data.dtypes
    dfInfo.reset_index(drop=True,inplace=True)
    if details:
        rangeIndex = (dfInfo['Non-Null Count'].min(),dfInfo['Non-Null Count'].min())
        totalColumns = dfInfo['Column'].count()
        dtypesCount = dfInfo['Dtype'].value_counts()
        totalMemory = dfInfo.memory_usage().sum()
        return dfInfo, rangeIndex, totalColumns, dtypesCount, totalMemory
    else:
        return dfInfo

In [41]:
# Create function that takes dataframe as input
# And returns SQL string to create SQLite table
def create_table_string(df_input, SQLite_tablename):

    #Get column names and types from dataframe
    df_info = infoOut(df_input)

    # Create dictionary to convert dataframe labels to SQLite labels for datatypes (https://www.sqlite.org/datatype3.html)
    pandas_to_sqlite = {'object': 'TEXT',
                    'int64': 'INTEGER',
                    'bool': 'INTEGER',
                    'float64': 'REAL'}

    # Convert Dtype column entries to string so that dictionary can convert
    df_info['Dtype'] = df_info['Dtype'].astype(str)

    # Create SQL query string to create table
    # Execute query to create table based on dataframe
    
    create_table = '''CREATE TABLE '''
    table_name = SQLite_tablename
    create_table += table_name
    create_table += "\n("

    for i in range(len(df_info)):
        col_name = (df_info.iloc[i, 0])
        col_pd_type = (df_info.iloc[i, 2])
        col_sql_type = pandas_to_sqlite[col_pd_type]
        create_table += col_name
        create_table += " "
        create_table += col_sql_type
        if i < len(df_info) - 1:
            create_table += ",\n"
        else:
            create_table += ")"
    
    return create_table

In [42]:
SQLite_tablename = 'temp_table'
make_table = create_table_string(df_2020, SQLite_tablename)
print(make_table)

CREATE TABLE temp_table
(Utilization_Type TEXT,
State TEXT,
NDC INTEGER,
Labeler_Code INTEGER,
Product_Code INTEGER,
Package_Size REAL,
Year INTEGER,
Quarter INTEGER,
Supression_Used INTEGER,
Product_Name TEXT,
Units_Reimbursed REAL,
Number_of_Prescriptions REAL,
Total_Amount_Reimbursed REAL,
Medicaid_Amount_Reimbursed REAL,
Non_Medicaid_Amount_Reimbursed REAL)

In [43]:
import sqlite3
SQLiteDatabase = 'my_data.db'
conn = sqlite3.connect(SQLiteDatabase)
c = conn.cursor()

# Drop table if it exists
drop_table = f"DROP table IF EXISTS {SQLite_tablename}"
c.execute(drop_table)

In [44]:
# Create table before populating from dataframe
c.execute(make_table)
print(f"Table {SQLite_tablename} created.")

Table temp_table created.

In [46]:
# Populate table from dataframe
df_2020.to_sql(SQLite_tablename, conn, if_exists='append', index = False)
print(f"Table {SQLite_tablename} populated from dataframe.")

Table temp_table populated from dataframe.

In [47]:
# Query Database Using SQL
c.execute('''SELECT * FROM temp_table''').fetchone() # fetchone, fetchmany, fetchall

('FFSU',
 'AK',
 9540001,
 9,
 5400,
 1.0,
 2020,
 4,
 0,
 'NICOTROL',
 6108.0,
 37.0,
 15312.05,
 15312.05,
 0.0)

## You can also read the SQL query directly into a Pandas DataFrame.

In [48]:
pd.read_sql('''SELECT * FROM temp_table LIMIT 3''', conn)

,Utilization_Type,State,NDC,Labeler_Code,Product_Code,Package_Size,Year,Quarter,Supression_Used,Product_Name,Units_Reimbursed,Number_of_Prescriptions,Total_Amount_Reimbursed,Medicaid_Amount_Reimbursed,Non_Medicaid_Amount_Reimbursed
0,FFSU,AK,9540001,9,5400,1.0,2020,4,0,NICOTROL,6108.0,37.0,15312.05,15312.05,0.0
1,FFSU,AK,13107015730,13107,157,30.0,2020,1,0,PAROXETINE,592.0,14.0,266.58,266.58,0.0
2,FFSU,AK,50458057990,50458,579,90.0,2020,2,0,XARELTO,3977.0,126.0,60621.75,60621.75,0.0

# **Analyze Reimbursement Data With Pandas**

In [49]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2060823 entries, 2601 to 4880134
Data columns (total 15 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Utilization_Type                object
 1   State                           object
 2   NDC                             int64
 3   Labeler_Code                    int64
 4   Product_Code                    int64
 5   Package_Size                    float64
 6   Year                            int64
 7   Quarter                         int64
 8   Supression_Used                 bool
 9   Product_Name                    object
 10  Units_Reimbursed                float64
 11  Number_of_Prescriptions         float64
 12  Total_Amount_Reimbursed         float64
 13  Medicaid_Amount_Reimbursed      float64
 14  Non_Medicaid_Amount_Reimbursed  float64
dtypes: bool(1), float64(6), int64(5), object(3)
memory usage: 237.8+ MB

In [51]:
state_summary = pd.pivot_table(data = df_2020, values = ['Units_Reimbursed', 
                                                         'Number_of_Prescriptions', 
                                                         'Total_Amount_Reimbursed'],
                               index = 'State',
                               aggfunc=np.sum,
                               margins=True)
state_summary['reim_per_prescription'] = state_summary['Total_Amount_Reimbursed'] / state_summary['Number_of_Prescriptions']

In [54]:
# Bring in enrollment data
merged_df = pd.merge(state_summary, df_2020_enroll[['state_abbreviation',
                                                    'state_expanded_medicaid',
                                                    'total_medicaid_enrollment']],
                     left_on = 'State',
                     right_on = 'state_abbreviation')
merged_df['reim_per_prescription'] = merged_df['Total_Amount_Reimbursed'] / merged_df['Number_of_Prescriptions']
merged_df['reim_per_enrollee'] = merged_df['Total_Amount_Reimbursed'] / merged_df['total_medicaid_enrollment']
merged_df['prescrip_per_enrollee'] = merged_df['Number_of_Prescriptions'] / merged_df['total_medicaid_enrollment']

merged_df.sort_values('reim_per_enrollee', ascending=False)

,Number_of_Prescriptions,Total_Amount_Reimbursed,Units_Reimbursed,reim_per_prescription,state_abbreviation,state_expanded_medicaid,total_medicaid_enrollment,reim_per_enrollee,prescrip_per_enrollee
45,18798704.0,3.983885e+09,1.082352e+09,211.923388,VA,Y,1476921,2697.425955,12.728307
6,8962727.0,1.422665e+09,5.400277e+08,158.731302,CT,Y,908351,1566.206596,9.867030
49,8724002.0,7.344506e+08,4.321188e+08,84.187349,WV,Y,526309,1395.474149,16.575818
48,11309779.0,1.513869e+09,8.012814e+08,133.854832,WI,N,1144816,1322.368456,9.879124
35,42287576.0,3.535185e+09,2.480565e+09,83.598663,OH,Y,2757654,1281.953730,15.334620
24,11233964.0,1.255452e+09,6.323663e+08,111.755022,MO,Y,982395,1277.950207,11.435282
21,2485577.0,3.771793e+08,1.818933e+08,151.747177,ME,Y,298435,1263.857435,8.328705
15,16631971.0,2.071935e+09,1.009045e+09,124.575450,IN,Y,1669445,1241.092263,9.962575
26,2908770.0,3.011570e+08,1.572112e+08,103.534135,MT,Y,251370,1198.062557,11.571667
27,14193492.0,1.991790e+09,1.087636e+09,140.331195,NC,N,1716971,1160.060180,8.266588
38,32764475.0,3.565220e+09,1.935767e+09,108.813580,PA,Y,3091199,1153.345296,10.599277
19,16957356.0,1.746804e+09,1.266998e+09,103.011594,MA,Y,1521228,1148.285644,11.147150
30,2185392.0,2.243350e+08,1.414143e+08,102.652078,NH,Y,196956,1139.010893,11.095839
18,19237599.0,1.746841e+09,9.512414e+08,90.803461,LA,Y,1575592,1108.688398,12.209759
41,755111.0,1.151074e+08,4.570047e+07,152.437781,SD,N,105950,1086.431763,7.127050
7,1802539.0,2.545565e+08,1.079891e+08,141.221099,DC,Y,244923,1039.332926,7.359615
1,6791097.0,8.396272e+08,4.154854e+08,123.636461,AL,N,825718,1016.844975,8.224475
17,22523830.0,1.439299e+09,1.202998e+09,63.901170,KY,Y,1426158,1009.214334,15.793362
34,70669506.0,6.130907e+09,3.944637e+09,86.754632,NY,Y,6079679,1008.426095,11.623888
44,2883336.0,3.494391e+08,1.816434e+08,121.192654,UT,Y,348722,1002.056489,8.268294
23,12399460.0,1.165270e+09,8.922127e+08,93.977512,MN,Y,1172518,993.818776,10.575070
13,3314796.0,3.462424e+08,2.099173e+08,104.453603,ID,Y,348775,992.738545,9.504110
8,2708395.0,2.394951e+08,1.336727e+08,88.426936,DE,Y,243519,983.475914,11.121904
20,13522960.0,1.294545e+09,7.043884e+08,95.729421,MD,Y,1317828,982.332388,10.261552
37,9913356.0,9.696173e+08,5.529216e+08,97.809184,OR,Y,1010314,959.718721,9.812153
46,1473945.0,1.551695e+08,8.994605e+07,105.274937,VT,Y,167774,924.871949,8.785300
22,29482750.0,2.370394e+09,1.561401e+09,80.399347,MI,Y,2590312,915.099748,11.381930
16,3176208.0,3.323745e+08,1.933349e+08,104.645060,KS,N,363522,914.317364,8.737320
31,18973763.0,1.521765e+09,1.030122e+09,80.203634,NJ,Y,1664394,914.305588,11.399803
42,13506545.0,1.252592e+09,7.595551e+08,92.739603,TN,N,1443175,867.941601,9.358910
3,15182366.0,1.553154e+09,8.702253e+08,102.299844,AZ,Y,1843452,842.524611,8.235835
39,3216880.0,2.394349e+08,1.688746e+08,74.430776,RI,Y,294208,813.828563,10.934033
12,6260546.0,5.363529e+08,3.615694e+08,85.671901,IA,Y,667702,803.281817,9.376258
29,2651756.0,2.158052e+08,1.921403e+08,81.381998,NE,Y,269226,801.576378,9.849554
5,7504571.0,1.076470e+09,5.171684e+08,143.441913,CO,Y,1366664,787.662526,5.491160
14,24165838.0,2.298542e+09,1.389434e+09,95.115356,IL,Y,2930056,784.470427,8.247569
9,25893948.0,3.076325e+09,1.619684e+09,118.804769,FL,N,3921731,784.430272,6.602683
33,6511517.0,5.467412e+08,3.993849e+08,83.965252,NV,Y,708696,771.474887,9.188026
25,4898549.0,4.593332e+08,2.917456e+08,93.769241,MS,N,597689,768.515435,8.195816
43,28486817.0,3.239752e+09,1.888599e+09,113.728101,TX,N,4250908,762.131666,6.701349
40,6503049.0,7.815057e+08,3.710040e+08,120.175268,SC,N,1027029,760.938255,6.331904
4,89063683.0,8.246752e+09,6.129557e+09,92.593882,CA,Y,11196553,736.543843,7.954563
36,5031814.0,5.339584e+08,3.377537e+08,106.116480,OK,Y,732928,728.527756,6.865359
47,14597472.0,1.314610e+09,8.704799e+08,90.057407,WA,Y,1835592,716.177929,7.952460
28,847701.0,7.218285e+07,4.772346e+07,85.151311,ND,Y,104772,688.951737,8.090912
10,15162593.0,1.252031e+09,8.693885e+08,82.573650,GA,N,1845581,678.393769,8.215620
0,1234812.0,1.472337e+08,7.728672e+07,119.235740,AK,Y,226591,649.777451,5.449519
50,343547.0,3.319019e+07,2.043144e+07,96.610330,WY,N,59989,553.271251,5.726833
11,2209373.0,1.881555e+08,1.354449e+08,85.162404,HI,Y,360244,522.300206,6.132990
32,4532554.0,3.599415e+08,2.856807e+08,79.412502,NM,Y,776960,463.268962,5.833703
2,4717516.0,3.953793e+08,2.600262e+08,83.810908,AR,Y,855359,462.237842,5.515247

Create dictionary of summaries by state to see if we can glean insight

In [55]:
state_list = list(df_2020['State'].value_counts().index)

In [56]:
df_2020.columns

Index(['Utilization_Type', 'State', 'NDC', 'Labeler_Code', 'Product_Code',
       'Package_Size', 'Year', 'Quarter', 'Supression_Used', 'Product_Name',
       'Units_Reimbursed', 'Number_of_Prescriptions',
       'Total_Amount_Reimbursed', 'Medicaid_Amount_Reimbursed',
       'Non_Medicaid_Amount_Reimbursed'],
      dtype='object')

In [57]:
# Go through list of states
dict_summary = {}
for state in state_list:    
    df_temp = df_2020[df_2020['State'] == state]
    temp = pd.pivot_table(df_temp, index = ['Product_Name', 'NDC'], aggfunc={'Total_Amount_Reimbursed': 'sum',
                                                                             'Product_Name': np.size,
                                                                             'Number_of_Prescriptions': np.sum})
    temp['cost_per_prescription'] = temp['Total_Amount_Reimbursed'] / temp['Number_of_Prescriptions']
    temp['pct_of_total'] = temp['Total_Amount_Reimbursed'] / df_temp['Total_Amount_Reimbursed'].sum()
    temp['State'] = state
    dict_summary[state] = temp

## Virginia appears the highest cost per prescription and enrollee. 
## Are there any particular drugs that are driving the cost?

In [58]:
df_va = dict_summary['VA']
df_va.sort_values(by='Total_Amount_Reimbursed', ascending = False).head(10)

,,Number_of_Prescriptions,Product_Name,Total_Amount_Reimbursed,cost_per_prescription,pct_of_total,State
Product_Name,NDC,,,,,,
HEPARIN SO,63323054031,46635.0,4,1.130233e+08,2423.571353,0.028370,VA
HECTOROL,58468012701,90101.0,7,1.126287e+08,1250.026808,0.028271,VA
EPOGEN,55513028301,85028.0,7,7.836440e+07,921.630515,0.019670,VA
FENTANYL C,409909422,21926.0,8,5.780054e+07,2636.164596,0.014509,VA
HUMIRA(CF),74055402,7450.0,4,5.372757e+07,7211.754660,0.013486,VA
LACTATED R,338011704,21047.0,8,4.594554e+07,2182.997056,0.011533,VA
BIKTARVY,61958250101,11760.0,8,4.099990e+07,3486.385844,0.010291,VA
SUBOXONE,12496120803,182378.0,8,4.005610e+07,219.632290,0.010055,VA
SODIUM CHL,338004904,33837.0,8,3.845487e+07,1136.473833,0.009653,VA
ONDANSETRO,641607825,24894.0,8,3.539921e+07,1421.997526,0.008886,VA

In [60]:
# Iterate through dictionary to get the highest spend per state
for state in dict_summary.keys():
    df_temp = dict_summary[state]
    max = df_temp['Total_Amount_Reimbursed'].max()
    drug_name = df_temp[df_temp['Total_Amount_Reimbursed'] == max].index[0][0].strip().capitalize()
    reim = df_temp[df_temp['Total_Amount_Reimbursed'] == max].loc[:, 'Total_Amount_Reimbursed'].values[0]
    pct_total = df_temp[df_temp['Total_Amount_Reimbursed'] == max].loc[:, 'pct_of_total'].values[0]
    print(f"State: {state}, \n\tHighest reimbursement drug: {drug_name}, \
                            \n\tTotal reimbursment for drug: {reim: ,.0f},\
                            \n\tPercent of total: {pct_total:.2%}")

State: CA,
	Highest reimbursement drug: Biktarvy,
	Total reimbursment for drug:  237,179,653,
	Percent of total: 2.88%
State: NY,
	Highest reimbursement drug: Biktarvy,
	Total reimbursment for drug:  338,750,611,
	Percent of total: 5.53%
State: OH,
	Highest reimbursement drug: Humira pen,
	Total reimbursment for drug:  90,111,519,
	Percent of total: 2.55%
State: KY,
	Highest reimbursement drug: Humira(cf),
	Total reimbursment for drug:  48,061,287,
	Percent of total: 3.34%
State: PA,
	Highest reimbursement drug: Biktarvy,
	Total reimbursment for drug:  112,652,651,
	Percent of total: 3.16%
State: MI,
	Highest reimbursement drug: Biktarvy,
	Total reimbursment for drug:  60,464,025,
	Percent of total: 2.55%
State: MA,
	Highest reimbursement drug: Suboxone 8,
	Total reimbursment for drug:  94,569,242,
	Percent of total: 5.41%
State: FL,
	Highest reimbursement drug: Biktarvy,
	Total reimbursment for drug:  115,021,033,
	Percent of total: 3.74%
State: GA,
	Highest reimbursement drug: Humira(cf),
	Total reimbursment for drug:  32,201,347,
	Percent of total: 2.57%
State: IL,
	Highest reimbursement drug: Biktarvy,
	Total reimbursment for drug:  77,870,185,
	Percent of total: 3.39%
State: MN,
	Highest reimbursement drug: Humira(cf),
	Total reimbursment for drug:  35,045,127,
	Percent of total: 3.01%
State: IN,
	Highest reimbursement drug: Epclusa 40,
	Total reimbursment for drug:  98,978,271,
	Percent of total: 4.78%
State: NJ,
	Highest reimbursement drug: Biktarvy,
	Total reimbursment for drug:  63,475,678,
	Percent of total: 4.17%
State: TX,
	Highest reimbursement drug: Trikafta 1,
	Total reimbursment for drug:  50,341,678,
	Percent of total: 1.55%
State: VA,
	Highest reimbursement drug: Heparin so,
	Total reimbursment for drug:  113,023,250,
	Percent of total: 2.84%
State: LA,
	Highest reimbursement drug: Sofosbuvir,
	Total reimbursment for drug:  77,926,242,
	Percent of total: 4.46%
State: MD,
	Highest reimbursement drug: Biktarvy 5,
	Total reimbursment for drug:  78,894,990,
	Percent of total: 6.09%
State: WA,
	Highest reimbursement drug: Humira pen,
	Total reimbursment for drug:  67,646,424,
	Percent of total: 5.15%
State: NV,
	Highest reimbursement drug: Biktarvy,
	Total reimbursment for drug:  20,940,991,
	Percent of total: 3.83%
State: TN,
	Highest reimbursement drug: Epclusa 40,
	Total reimbursment for drug:  34,531,148,
	Percent of total: 2.76%
State: SC,
	Highest reimbursement drug: Humira(cf),
	Total reimbursment for drug:  20,526,923,
	Percent of total: 2.63%
State: NC,
	Highest reimbursement drug: Humira(cf),
	Total reimbursment for drug:  54,592,052,
	Percent of total: 2.74%
State: MS,
	Highest reimbursement drug: Humira(cf),
	Total reimbursment for drug:  14,458,360,
	Percent of total: 3.15%
State: AZ,
	Highest reimbursement drug: Biktarvy,
	Total reimbursment for drug:  48,829,957,
	Percent of total: 3.14%
State: OR,
	Highest reimbursement drug: Mircera 10,
	Total reimbursment for drug:  29,615,420,
	Percent of total: 3.05%
State: MO,
	Highest reimbursement drug: Invega sus,
	Total reimbursment for drug:  25,435,691,
	Percent of total: 2.03%
State: CO,
	Highest reimbursement drug: Humira(cf),
	Total reimbursment for drug:  38,083,477,
	Percent of total: 3.54%
State: WI,
	Highest reimbursement drug: Humira pen,
	Total reimbursment for drug:  62,692,715,
	Percent of total: 4.14%
State: WV,
	Highest reimbursement drug: Suboxone 8,
	Total reimbursment for drug:  55,122,594,
	Percent of total: 7.51%
State: CT,
	Highest reimbursement drug: Suboxone s,
	Total reimbursment for drug:  33,704,586,
	Percent of total: 2.37%
State: AR,
	Highest reimbursement drug: Genotropin,
	Total reimbursment for drug:  9,178,568,
	Percent of total: 2.32%
State: AL,
	Highest reimbursement drug: Invega sus,
	Total reimbursment for drug:  17,822,590,
	Percent of total: 2.12%
State: IA,
	Highest reimbursement drug: Humira pen,
	Total reimbursment for drug:  14,781,733,
	Percent of total: 2.76%
State: UT,
	Highest reimbursement drug: Humira pen,
	Total reimbursment for drug:  9,878,155,
	Percent of total: 2.83%
State: OK,
	Highest reimbursement drug: Trikafta (,
	Total reimbursment for drug:  17,072,256,
	Percent of total: 3.20%
State: NM,
	Highest reimbursement drug: Humira(cf),
	Total reimbursment for drug:  15,276,642,
	Percent of total: 4.24%
State: KS,
	Highest reimbursement drug: Invega sus,
	Total reimbursment for drug:  7,121,004,
	Percent of total: 2.14%
State: ID,
	Highest reimbursement drug: Humira(cf),
	Total reimbursment for drug:  12,241,726,
	Percent of total: 3.54%
State: NE,
	Highest reimbursement drug: Trikafta (,
	Total reimbursment for drug:  6,271,672,
	Percent of total: 2.91%
State: MT,
	Highest reimbursement drug: Mavyret 10,
	Total reimbursment for drug:  10,566,358,
	Percent of total: 3.51%
State: DC,
	Highest reimbursement drug: Biktarvy 5,
	Total reimbursment for drug:  45,073,701,
	Percent of total: 17.71%
State: DE,
	Highest reimbursement drug: Zemplar(pa,
	Total reimbursment for drug:  14,778,645,
	Percent of total: 6.17%
State: ME,
	Highest reimbursement drug: Suboxone,
	Total reimbursment for drug:  23,972,472,
	Percent of total: 6.36%
State: NH,
	Highest reimbursement drug: Humira(cf),
	Total reimbursment for drug:  9,000,684,
	Percent of total: 4.01%
State: RI,
	Highest reimbursement drug: Humira pen,
	Total reimbursment for drug:  11,638,367,
	Percent of total: 4.86%
State: HI,
	Highest reimbursement drug: Humira(cf),
	Total reimbursment for drug:  6,165,121,
	Percent of total: 3.28%
State: AK,
	Highest reimbursement drug: Humira(cf),
	Total reimbursment for drug:  8,624,478,
	Percent of total: 5.86%
State: VT,
	Highest reimbursement drug: Suboxone s,
	Total reimbursment for drug:  8,993,910,
	Percent of total: 5.80%
State: ND,
	Highest reimbursement drug: Humira(cf),
	Total reimbursment for drug:  2,903,358,
	Percent of total: 4.02%
State: SD,
	Highest reimbursement drug: Ocrevus 30,
	Total reimbursment for drug:  4,026,146,
	Percent of total: 3.50%
State: WY,
	Highest reimbursement drug: Humira pen,
	Total reimbursment for drug:  820,887,
	Percent of total: 2.47%

In [61]:
df_2020['State'].value_counts()

CA    110080
NY    103233
OH     82865
KY     66035
PA     63259
MI     62972
MA     61113
FL     60167
GA     59862
IL     59714
MN     59169
IN     58117
NJ     56086
TX     54444
VA     53849
LA     50638
MD     49094
WA     48240
NV     43132
TN     41680
SC     40868
NC     39775
MS     39209
AZ     39138
OR     38836
MO     38648
CO     36497
WI     36044
WV     32917
CT     32653
AR     32101
AL     31493
IA     30677
UT     28280
OK     26384
NM     25453
KS     24771
ID     23621
NE     22633
MT     21693
DC     19639
DE     19294
ME     19069
NH     19050
RI     18601
HI     16648
AK     15506
VT     14362
ND     13227
SD     12253
WY      7734
Name: State, dtype: int64